@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:ital,wght@1,300&display=swap');
@import "mixins";
@import "operaciones";
@import "maps";
@import "partials/footer";

* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: map-get($map: $colores, $key:"fondoMain");
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: map-get($map: $colores, $key:"fondoColor");

    h1 {
        font-family: 'Arvo', serif;
    }

}



section#noticiaDestacada {
    grid-area: not;                      
    margin-top: 100px;
}

section#noticiaDestacadaUno {
    grid-area: notUno;
}

section#noticiaDestacadaDos {
    grid-area: notDos;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

nav {
    grid-area: nav;

    & a:hover {
        color: black;
    }
}

.logo {
    min-height: 100px;
    max-width: 200px;
}

#fotoBts {
    @include tamanioFoto;
}

.fotoNot {
    @include tamanioFoto;
}


.colorNav {
    font-family: 'Arvo', serif;
    background-color: map-get($map: $colores, $key: "fondoColor");
}

.logo {
    display: none;
}

.form {
    background-color: map-get($map: $colores, $key:"fondoColor");
    border-radius: 10%;
    padding: 15vh;
}

.tituloForm {
    margin-top: 10vh;
}

.logo {
    display: none;
}


.tituloForm {
    margin-top: 10vh;
}

.mv {
    height: 300px;
    width: 50%;
}


@media(min-widht:480px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "not"
            "notUno"
            "notDos"
            "footer";
        gap: 5px;
    }

}


@media(min-width:990px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "nav header"
            "nav not"
            "nav notUno"
            "nav notDos"
            "nav footer";
        grid-template-columns: 20% auto;
        grid-template-rows: 50px 2fr 2fr 2fr 100px;
        gap: 10px;
    }

    img#fotoBts {
        border-radius: 10%;
        height: 320px;
        width: 600px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .fotoNot {
        border-radius: 10%;
        margin-top: 18vh;
        height: 120px;
        width: 200px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .navbar .container-fluid,
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 200vh;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 1s;
        margin-left: 5%;

        &:hover {
            transform: scale(1.2);
        }
    }

    .noticiasDestacadas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
            margin-top: 20vh;
            margin-right: 80vh;
        }

    }

    .tituloBts {
        border-color: rgb(53, 70, 70);
    }

    .btsMv {
        margin-top: 20px;
    }

    .noticisBbSecundarias {
        background-color: map-get($map: $colores, $key: "fondoColores");
        margin: 5vh;
        padding: 10vh;
        border-radius: 10%;
    }

}