@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(233, 222, 209);
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    color: black;
}

footer {
    background-color: rgb(53, 70, 70);
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
}

header {
    background-color: rgb(53, 70, 70);
}

nav {
    grid-area: nav;
}

section#noticiaDestacada {
    grid-area: not;
    margin-top: 100px;
}

section#noticiaDestacadaUno {
    grid-area: notUno;
}

section#noticiaDestacadaDos {
    grid-area: notDos;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.logo {
    min-height: 100px;
    max-width: 200px;
}

#fotoBts {
    height: 300px;
    width: 100%;
}

.fotoNot {
    height: 300px;
    width: 100%;
}


.colorNav {
    font-family: 'Arvo', serif;
    background-color: rgb(53, 70, 70)
}

.logo {
    display: none;
}

.form {
    background-color: rgb(53, 70, 70);
    border-radius: 20%;
    padding: 15vh;
}

.tituloForm {
    margin-top: 10vh;
}


h1 {
    font-family: 'Arvo', serif;
}

.mv {
    height: 300px;
    width: 50%;
}



/*----------------mobile----------------*/

@media(min-widht:480px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "not"
            "notUno"
            "notDos"
            "footer";
        gap: 5px;
    }

}


/*----------------desktop---------------*/

@media(min-width:990px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "nav header"
            "nav not"
            "nav notUno"
            "nav notDos"
            "nav footer";
        grid-template-columns: 20% auto;
        grid-template-rows: 50px 2fr 2fr 2fr 100px;
        gap: 10px;
    }

    img#fotoBts {
        border-radius: 10%;
        height: 320px;
        width: 600px;
        transition: all 0.5s;
    }

    .fotoNot {
        border-radius: 10%;
        margin-top: 18vh;
        height: 120px;
        width: 200px;
        transition: all 0.5s;
    }

    #fotoBts:hover {
        transform: scale(1.1);
    }

    .fotoNot:hover {
        transform: scale(1.1);
    }

    .navbar .container-fluid,
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 200vh;
    }


    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 1s;
        margin-left: 5%;
    }

    .logo:hover {
        transform: scale(1.2);
    }

    .noticiasDestacadas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h3 {
        margin-top: 20vh;
        margin-right: 80vh;
    }

    h2 {
        margin-top: 5vh;
        ;
    }

    .tituloBts {
        border-color: rgb(53, 70, 70);
    }

    .btsMv {
        margin-top: 20px;
    }

    .noticisBbSecundarias {
        background-color: rgb(53, 70, 70);
        margin: 5vh;
        padding: 10vh;
        border-radius: 10%;
    }
}